%nav.navbar.fixed-top.navbar-light.bg-white{style: 'height: auto; padding: 0; font-size: xx-large; height: 5em;'}
  = link_to '#main', class: 'logo-link' do
    = image_tag 'logo.png', class: 'main-logo'
  = link_to 'Главная', '#main'
  = link_to 'О нас', '#about'
  = link_to 'Маркетинг', '#plans'
  = link_to 'Регистрация', '#capability', class: 'reg-btn'

.main
  = image_tag 'main.jpg', style: 'width: 100%; padding-top: 7em;'

  #about.company-cards
    .card.mb-3{style: 'margin: 0 -2em;'}
      .card-body
        %p.card-text
          Компания завоевала авторитет, представив серию эксклюзивных парфюмов самого высокого
          качества. Команда тщательно отобрала наиболее подходящие парфюмерные
          композиции одного из ведущих поставщиков парфюмерных эссенций. Также в
          ассортименте были представлены продукты в области специального питания.
          В нашем ассортименте все время появляются уникальные инновационные
          продукты, которые влияют на рынки во многих странах и оказывают пользу миллионам клиентов.

    .card.mb-3{style: 'margin: 0 -2em;'}
      .card-body
        %p.card-text
          Сетевой маркетинг, по мнению многих специалистов, это один из самых быстрых путей получить финансовую
          независимость, это самая быстрая возможность распоряжаться самостоятельно своим временем,
          воплотить в жизнь свои мечты и стремления. А слово „sen“ - мечта — нераздельно связано с ESSENS.
          %br
          В начале 2016 года в г. Брно мы открыли новый современный офис ESSENS EUROPE. Это событие поставило
          нас в ряд самых успешных компаний в этой области.

    .card.mb-3{style: 'margin: 0 -2em;'}
      .card-body
        %p.card-text
          В настоящее время одна из наиболее динамично развивающихся MLM компаний
          в Европе, была создана в Чешской Республике осенью 2011 года. Фирма основана на
          сотрудничестве нескольких специалистов в области сетевого маркетинга и ведущих
          специалистов в области разработки и производства косметических средств.


  .advantage{style: 'background: #053467; height: auto;'}
    .advantage-text.text-center{style: 'color: azure; padding: 60px 20px; font-size: xx-large;'}
      %p
        Широкий ассортимент продукции: духи - эквиваленты мировых брендов, сходство с оригиналами 99%.
        Продукция Aloe Vera: шампуни, кондиционеры для волос, зубные пасты, бальзамы для и после бритья,
        дезодоранты, спрей для тела, антивозрастные крема, различные био добавки: для
        иммунитета, для похудения,для улучшения сна и многое другое…
      %p
        Ассортимент постоянно пополняется

  #plans.plan.text-center{style: 'padding-top: 10em;'}
  %h1{style: 'text-align: center;'} Маркетинговый план
  %p{style: 'padding-top: 2em; text-align: center; font-size: xx-large;'}
    Маркетинговый план ESSENS состоит из 4 базовых уровней с месячным и годовым квалификационным периодом.

  .plans
    .card.text-white.bg-dark.mb-3{style: "height: fit-content;"}
      .card-header I план
      .card-body
        %p.card-text
          Выделяется 28% от оборота всей вашей структуры Все баллы за ваши личные заказы и за заказы всей вашей
          команды складываются в общие баллы, с первого до последнего дня месяца. В зависимости от ваших общих
          баллов вы достигаете соответствующей позиции. Вы можете накапливать свое комиссионное вознаграждение
          в своем электронном кошельке и решать, хотите ли вы снять их со своего банковского счета или использовать
          их для будущих покупок. Комиссионное вознаграждение согласно I плану выплачивается ежемесячно до 20 числа.
          Для выплаты комиссионного вознаграждения согласно І плану необходимо, чтобы личный оборот в данном месяце
          составлял 20 баллов.

    .card.text-white.bg-dark.mb-3{style: "height: fit-content;"}
      .card-header II план
      .card-body
        %p.card-text
          Помогите другим достичь своей мечты и целей, и вы добьетесь успеха! Это четко описывает то, что вы должны
          делать. Когда вы достигнете 1-й или 2-й позиции, вы знаете, как это сделать и как это работает, таким образом
          вы можете поддерживать членов вашей команды, чтобы достичь ее самостоятельно. 2-ой план вознаграждает вас за
          вашу поддержку в нашем типе бизнеса действительно уникальным способом, а именно таким, что Вы получаете выгоду
          от общего оборота компании.

  .plans
    .card.text-white.bg-dark.mb-3{style: "height: fit-content;"}
      .card-header III план
      .card-body
        %p.card-text
          Выделяется 1% от оборота ESSENS Если вы будете следовать рекомендациям, вы создадите стабильную команду, и вы
          будете вознаграждены согласно третьему плану. Годовая премия выплачивается до 20 января следующего года. Для
          выплаты комиссионного вознаграждения согласно 3-му маркетинговому плану необходимо, чтобы ежемесячный личный
          оборот, в течение всего календарного года, составлял 100 баллов.
    .card.text-white.bg-dark.mb-3{style: "height: fit-content;"}
      .card-header IV план
      .card-body
        %p.card-text
          Выделяется до 3% от оборота вашей квалифицированной линии (линий) 4-й план вознаграждает членов за построение
          структуры в глубину и поддержку для достижения Silver Manager (SM) и выше. Для выплаты комиссионного вознаграждения
          согласно 4-му маркетинговому плану необходимо, чтобы ежемесячный личный оборот, в данном месяце составлял 100 баллов.
          Double Silver Manager (DSM) получает 2% от оборота своих линий SM до следующего DSM или Gold Manager (GM) и выше.

  #capability.accordion-text
  %h3{ style: 'font-size: xx-large; text-align: center;' } Возможности Essens после регистрации

  #accordionExample.accordion
    .carda
      #headingFour.card-header
        %h2.mb-0{style: 'text-align: center;'}
          %button.btn.btn-link{"aria-controls" => "collapseFour", "aria-expanded" => "false", "data-target" => "#collapseFour", "data-toggle" => "collapse", :type => "button", style: 'font-size: -webkit-xxx-large;'}
            Престиж и уникальная продукция
      #collapseFour.show{"aria-labelledby" => "headingFour", "data-parent" => "#accordionExample"}
        .card-body{style: 'text-align: center; font-size: xx-large;'}
          Быть представителем компании Essens - это большая честь и гордость. Это
          европейское качество и экологичный подход к жизни. Натуральня косметика с
          алоэ вера, безопасные моющие средства для чистого дома. Но это еще не все
          линейка товаров компании Essens постоянно расширяется, а товары Essens Beauty -
          выбираю звезды отечественной и зарубежной эстрады, как свой любимый товар в косметичке.
    .carda
      #headingOne.card-header
        %h2.mb-0{style: 'text-align: center;'}
          %button.btn.btn-link.collapsed{"aria-controls" => "collapseOne", "aria-expanded" => "false", "data-target" => "#collapseOne", "data-toggle" => "collapse", :type => "button", style: 'font-size: -webkit-xxx-large;'}
            Скидка от -40% на весь товар
      #collapseOne.collapse{"aria-labelledby" => "headingOne", "data-parent" => "#accordionExample"}
        .card-body{style: 'text-align: center; font-size: xx-large;'}
          Пройдя бесплатную регистрацию и предоставив ваш документ, вы получаете доступ
          в ваш личный кабинет Essens, где вы можете совершать покупки в любое время и при
          этом с большой скидкой
    .carda
      #headingTwo.card-header
        %h2.mb-0{style: 'text-align: center;'}
          %button.btn.btn-link.collapsed{"aria-controls" => "collapseTwo", "aria-expanded" => "false", "data-target" => "#collapseTwo", "data-toggle" => "collapse", :type => "button", style: 'font-size: -webkit-xxx-large;'}
            Стань экспертом в сфере ароматов
      #collapseTwo.collapse{"aria-labelledby" => "headingTwo", "data-parent" => "#accordionExample"}
        .card-body{style: 'text-align: center; font-size: xx-large;'}
          Приобретя папку с ароматами и изучив материалы, которые вам предоставляет
          компания - вы начнете отлично разбираться в области парфюмерии. Это может
          остаться вашим хобби или же перерасти в профессию. Решать вам!
    .carda
      #headingThree.card-header
        %h2.mb-0{style: 'text-align: center;'}
          %button.btn.btn-link.collapsed{"aria-controls" => "collapseThree", "aria-expanded" => "false", "data-target" => "#collapseThree", "data-toggle" => "collapse", :type => "button", style: 'font-size: -webkit-xxx-large;'}
            Познакомься с твоим личный куратором (коучем)
      #collapseThree.collapse{"aria-labelledby" => "headingThree", "data-parent" => "#accordionExample"}
        .card-body{style: 'text-align: center; font-size: xx-large;'}
          У каждого нового человека, кто зарегистрировался в Essens есть свой коуч,
          это наставник - человек, который поможет разобраться с любым вопросом -
          будь то оформление заказа, подбор идеального для вас аромата, или же введет
          тебя в мир профессионалов и вы сможете начать свой путь, как арома-стилист

  #reg{style: 'padding-top: 5em;'}
    .form-structor-mobile
      = form_tag client_index_path, method: :post do
        .signup{style: 'width: 75%; top: 43%;'}
          .form-holder
            = text_field_tag :name, nil, placeholder: 'Имя', class: 'input', style: 'font-size: 30px; height: 60px;'
            = text_field_tag :email, nil, placeholder: 'Почта', class: 'input', style: 'font-size: 30px; height: 60px;'
            = text_field_tag :phone, nil, placeholder: 'Телефон', class: 'input', style: 'font-size: 30px; height: 60px;'
          = submit_tag 'Регистрация', class: 'submit-btn', style: 'font-size: xx-large;'

        .login.slide-up
          .center
            %h2#login.form-title
              %span
              Irina Savkina
            .form-holder
              %input.input{:placeholder => "Email", :type => "email"}/
              %input.input{:placeholder => "Password", :type => "password"}/
            %button.submit-btn Log in